@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Gabriela);

body {
    background-image: url('../res/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2D4C32;
    margin: 0;
}

.header-background {
    background: rgb(29, 29, 29);
    background: rgba(29, 29, 29, 0.7);
    text-align: center;
}

.header {
    display: inline-block;
}

.name {
    font-family: Cookie;
    font-size: 6em;
    color: #EEEEEE;
    margin: 0.25em 0;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links a {
    text-decoration: none;
}

.link {
    display: flex;
    flex-direction: column;
    font-family: Gabriela;
    font-size: 2em;
    color: #DDDDDD;
    width: 6em;
    border-top: 1px solid;
    border-color: #D13644;
    padding: 0.1em 0;
}

.link:hover {
    background-color: #D13644;
}

.content {
    text-align: center;
}

.about-me {
    display: inline-block;
    width: 50%;
    font-family: Gabriela;
    font-size: 1.5em;
    background: rgb(29, 29, 29);
    background: rgba(29, 29, 29, 0.7);
    margin: 4em 0;
    padding: 1em;
    color: #DDDDDD;
}

.about-me a {
    color: #D13644;
}

.about-me a:link, .about-me a:visited {
    text-decoration: none;
}

.about-me a:hover, .about-me a:active {
    text-decoration: underline;
}

.resume {
    background: rgb(29, 29, 29);
    background: rgba(29, 29, 29, 0.7);
    display: inline-block;
    margin: 2em;
    padding: 1em;
}
